Bottleneck==1.3.2
certifi==2021.5.30
cycler==0.10.0
fonttools==4.25.0
greenlet==0.4.15
kiwisolver @ file:///C:/ci/kiwisolver_1612282606037/work
matplotlib @ file:///C:/ci/matplotlib-suite_1628011511716/work
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
msgpack==1.0.0
numexpr @ file:///C:/ci/numexpr_1618856738664/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1626271903025/work
olefile==0.46
pandas @ file:///C:/ci/pandas_1629682609359/work
Pillow @ file:///C:/ci/pillow_1625663293593/work
pynvim==0.4.1
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1623709665295/work
tornado @ file:///C:/ci/tornado_1606942392901/work
wincertstore==0.2
